<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>用猿音搜尋音樂</string>
				<string>用猿音搜尋歌曲</string>
				<string>用猿音搜尋專輯</string>
				<string>用猿音搜尋歌手</string>
				<string>用猿音搜尋歌單</string>
				<string>用猿音搜尋搖滾音樂</string>
				<string>用猿音搜尋電台</string>
			</array>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
		</dict>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>用猿音播放音樂</string>
				<string>用猿音播放歌曲</string>
				<string>用猿音播放專輯</string>
				<string>用猿音播放歌手的歌曲</string>
				<string>用猿音播放歌單</string>
				<string>用猿音播放搖滾音樂</string>
				<string>用猿音播放電台</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
