<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Recherche de la musique avec Primuse.</string>
				<string>Recherche un morceau avec Primuse.</string>
				<string>Recherche un album avec Primuse.</string>
				<string>Recherche la musique d’un artiste avec Primuse.</string>
				<string>Recherche une playlist avec Primuse.</string>
				<string>Recherche de la musique jazz avec Primuse.</string>
				<string>Recherche une station de radio avec Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
		</dict>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Écoute de la musique avec Primuse.</string>
				<string>Écoute un morceau avec Primuse.</string>
				<string>Écoute un album avec Primuse.</string>
				<string>Écoute la musique d’un artiste avec Primuse.</string>
				<string>Écoute une playlist avec Primuse.</string>
				<string>Écoute du jazz avec Primuse.</string>
				<string>Écoute une station de radio avec Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
