<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Search for music with Primuse.</string>
				<string>Find a song with Primuse.</string>
				<string>Find an album with Primuse.</string>
				<string>Find music by an artist with Primuse.</string>
				<string>Find a playlist with Primuse.</string>
				<string>Find jazz music with Primuse.</string>
				<string>Find a radio station with Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
		</dict>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Play music with Primuse.</string>
				<string>Play a song with Primuse.</string>
				<string>Play an album with Primuse.</string>
				<string>Play music by an artist with Primuse.</string>
				<string>Play a playlist with Primuse.</string>
				<string>Play jazz music with Primuse.</string>
				<string>Play a radio station with Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
